<a href="https://colab.research.google.com/github/dhbilton/where-is-jojo/blob/master/py_overview_cm.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [31]:
print('Hello World')

Hello World

In [0]:
x = 5

if x == 1:
  
  print('x is 1')

In [39]:
myint = "seven"
print(myint)
print(type(myint))

seven
<class 'str'>

In [40]:
# float

myfloat = float(7)
print(myfloat)

7.0

In [41]:
# string

mystring = 'yo'
print(mystring)
mystring = "bo"
print(mystring)

yo
bo

In [42]:
# concatenation

hello = 'hallo '
world = 'welt '
helloworld = hello + world
print(helloworld)

hallowelt

In [43]:
# simultaneous assignment

drei, veri, neun, funf = 3, 4, 9, 5
print(drei, veri, neun, funf)

3 4 9 5

In [45]:
eins = 1
zwei = 2
hello = ' hallo'

print(str(eins) + str(zwei) + hello)

12 hallo

In [51]:
mylist = []
mylist.append(7)
mylist.append(22)
mylist.append(9)
print(mylist)

mylist[0] = 7
print(mylist[0])
print(mylist[1])
print(mylist[2])

print('---------')

for x in mylist:
  print(x)

[7, 22, 9]
7
22
9
---------
7
22
9

In [61]:
mylist2 = [6,6, "blimes"]
addedList = mylist + mylist2
print(mylist)
print(mylist2)

print(addedList)
print(addedList[5])

print(type(addedList[5]))

addedList.append(6.2)
print(addedList)

[7, 22, 9]
[6, 6, 'blimes']
[7, 22, 9, 6, 6, 'blimes']
blimes
<class 'str'>
[7, 22, 9, 6, 6, 'blimes', 6.2]

In [58]:
print([1,2,3] * 3)
f = range(1,10)
print(f)
len(f) # length

[1, 2, 3, 1, 2, 3, 1, 2, 3]
range(1, 10)

9

In [66]:
# basic arithmetic
# % = n as smallest init

number = 1 + 2 * 3 / 4.0
print(number)


remainder = 11 / 3
print('remainder: %f' %remainder)

remainder2 = 11 % 3
print('remainder2: %f' %remainder2)


# string multiplication

lotsofyos = 'hello - ' * 10
print(lotsofyos)

2.5
remainder: 3.666667
remainder2: 2.000000
hello - hello - hello - hello - hello - hello - hello - hello - hello - hello -